// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

/*-- scss:defaults --*/
$font-family-base: 'Montserrat', sans-serif;

// Custom Variables
$retro: 'Handjet', cursive;

/*-- scss:rules --*/
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: $retro;
  font-size: $font-size-base * 5;
  line-height: 0.8;
}

p.subtitle.lead {
  font-family: $retro;
  font-size: $font-size-base * 4.5;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px !important;
}

.about-image {
  margin-top: 1.5em;
}

#webr-run-button-1.btn.btn-default.btn-webr,
#webr-run-button-2.btn.btn-default.btn-webr,
#webr-run-button-3.btn.btn-default.btn-webr,
#webr-run-button-4.btn.btn-default.btn-webr{
  background-color: #18bc9c;
}